table,tr,th,td{
    border: 2px solid black;
    border-collapse: collapse;
}
.box{
    background-color: rgb(144, 238, 144);
}


/* after making the dynamic element by js and setting the attribute by using the setAttribute we can also give the class naem and do the styling  */
.orangeLink{
    color: orange;
}

.bg-lightBlue{
    /* background-color: lightblue; */
    background-color: aqua;
}