table,tr,th,td{
    border: 2px solid black;
    border-collapse: collapse;
}
.box{
    background-color: rgb(144, 238, 144);
}


/* after making the dynamic element by js and setting the attribute by using the setAttribute we can also give the class naem and do the styling  */
.orangeLink{
    color: orange;
}

.bg-lightBlue{
    /* background-color: lightblue; */
    background-color: aqua;
}
#btn{
    padding: 14px;
    font-size: 15px;
    cursor: pointer;;
}

.bigbox{
    width: 80vw;
    height: 45vh;
    background-color: red;
    padding: 14px;
    cursor: pointer;
    margin: 14px;
}
.parent{
    background-color: yellow;
    padding: 14px;
    margin: 14px;
    cursor: pointer;
    
}
.child{
    padding: 14px;
    margin: 14px;
    background-color: blue;
    color: white;
    cursor: pointer;
}
.insert_ele{
    background-color: purple;
    padding: 14px;
    margin: 14px;
    color: white;
}


.insertion{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: darkkhaki;
    height: 75px;
}

.another{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: larger;
}
.sup-but{
    background-color: black;
    color: white;
    width: 155px;
    height: 55px;
    border: 2px solid red;
    border-radius: 6px;
    cursor: pointer;
}
.wow-but{
    background-color: rgb(178, 206, 39);
    color: rgb(0, 0, 0);
    width: 155px;
    height: 55px;
    border: 2px solid red;
    border-radius: 6px;
    cursor: pointer;
}

.trial{
    background-color: black;
    color: white;
    font-family: cursive;
    font-size: 23px;
    font-style: italic;
}

::selection{
    background-color: rgb(168, 157, 157)
};
















