body{
    background-color: gray;
    
}
::selection{
    background-color: blueviolet;
}
*{
    margin: 0;
    padding: 0;
}

/* we declare the global variable inside the root that is accessed anywhere */
/* all these are used for msking the brand color template  */
:root{
    --primary-color: rgb(12, 245, 47);
    --secondary:rgb(198, 183, 20);
    --secondary:rgb(0, 167, 176);
    --defpad:25px;
    
}
p,span.var1,h3.var2{
    --secondary:rgb(243, 149, 149);
    color: var(--secondary,brown);
    padding: var(--defpad);
    /* we can aslo overwrite the variable here by makin it local variable  */
}
/* for the local  variable making we have to do the changes inside the style of the particular one only  */


/* media query  */
@media only screen and (max-width:555px){
    body{
        background-color: blue;
    }
}

@media only screen and (min-width:325px){
    body{
        background-color:#262520;
    }
}

/* MULTI COLOR NAV BAR */

/* give thw width full for the responsieness of the site   */
/* 
:root{
    --primary-bg:gray;
    --primary-text:black;
    
}

.multi{
    width: 100vw;
    height: 3.5rem;
    background-color: var(--primary-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
}
ul{
    display: flex;
    justify-content: end;
    align-items: center;
}

ul>li{
    color: var(--primary-text);
    padding: 19px;
    list-style: none;
    cursor: pointer;
}

ul>li:hover{
    font-weight: bold;
}
*/

/* now we can select the universal prop inside the any container */
.boxes *{
    width: 50px;
    height: 50px;
    background-color: blue;
    margin: 5px;
}

.box:nth-child(odd){
    background-color: pink;
}
.boxes::before{
    color: white;
    content: "pranjal jain is writing before";
}

.boxes::after{
    color: white;
    content: "pranjal jain is writing after";

}

.box::first-letter{
    background-color: coral;
}

.var2::first-letter{
    text-transform: scale(1);
}




