.class1 {
  background-color: red;
}

.class2 {
  background-color: yellow;
  list-style: square;
  list-style: inside;
}

.back {
  border: 2px solid red;
  background: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg");
  width: 500px;
  height: 500px;
  background-repeat: no-repeat;
  background-position: 5px;
  background-attachment: fixed;
  /* now it is fixes to the background of the webpage  */

  /* all this we cando in shorthand  */
  background: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg")
    no-repeat center left;
  background-size: 400px;
}

/* we can also provide the attcahment property to the background 
by background attachment  */

.box1 {
  height: 311px;
  width: 255px;
  border: 2px solid red;
  background: yellow;
  margin: auto;
  /* margin auto will center the element in only the x axis  */

  /* by making the margin auto we can center the position of the div 
    it will distribute the margin in x axis  */

  outline: 2px solid green;
  text-align: justify;
}

#firstlink {
  text-decoration: none;
}



/* we can change the property of the list also  */
li {
  background-color: lightcoral;
  text-decoration: none;
  /* list-style:none; */
  list-style-type: decimal;
  /* list-style-position: inside; */
  /* it will set the position of the bullets inside or outside  */

/* if we want to hide the list style type then use NONE */


}

.navitems{
    background-color: black;
    height: 42px;
}

.navitems li{
    background-color: darkgreen;
    list-style: none;
    text-decoration: none;
    display: inline-block;
    /* using the inline block we can use the height and width property also on the blcok elemetns  */
    color: white;
    margin-left: 9px;
    margin-right: 15px;
    font-size: 27px;
    padding: 5px;
}
.navitems li:hover{
    background-color: blueviolet;
}



li:hover {
  background-color: rgb(176, 255, 184);
  cursor: pointer;
  font-family: 'Courier New';
}

/* we also use the max width prop and max height prop to maintain the specific height and specific width of the element  */

.imgdiv{
    width: 555px;
    height: 555px;
    border: 2px solid red;
}
.imag{
    width: 355px;
    position: relative;
    left: 91px;
  top: 112px;
    
}

.blur{
    width: 65px;
    height: 65px;
    background-color: red;
    position: relative;
    top: 230px;
    left: 236px;
    z-index: 2;
    filter: blur(4px);
}


.myflex{
    /* this is the parent of the flex box so make this as a flexbox 
     */
     display: flex;
     flex-direction: row;
     justify-content: center;
     background-color: black;
     /* for making the flex box horizontal center  */

}

/* it will have h flex items inside the flex container  */
.myflex >div{
    background-color: red;
    width: 80px;
    height: 80px;
    font-size: 25px;
    margin: 8px;
}

/* by default the property of flex wrap is no wrap so it will not wrap by sqeeezing 
by changing into the wrap it will wrap into the new line  */


/* for making horizontal alignment  use the justify content */
/* for making vetical alignment use the align items  */




/* justify content for the horizontal alignment  */
/* align items for the vertical alignment  */





