div>p{
    color: red;
}
/* so basically it means that every p tag inside the  div tage exactly one time will show the code  */

div p{
    color: blue;
}
/* this means that any p tag isnide any order will apply this property no matter of the order */
/* these are the descendent of the div  */


/* this is a child selector  */
div>p{
    color: red;
}
/* it should follow a specific order in it  */

a:hover{
    background-color: red;
}
a:visited{
    background-color: aqua;
}
a:active{
    background-color: yellow;
}
/* for the link which is not visited by the user  */
a:link{
    background-color: rgb(163, 239, 163);
}


/* so the height and the width given to it is fully of the content inside the box and padding and border is diff  */
.box{
    border: 2px solid red;
    background-color: darksalmon;
    height: 125px;
    width: 100px;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: clip;
    text-align: center;
}
/* widht into heigt */

/* the border box takes into account of the padding and border into ot 
excluding the margin 
 */


#first:hover{
    text-decoration: underline;
    animation: forwards;
}

/* here we will see the selector  */
/* so basically we have the same type ofselector  then wee measure the specificty jo bhi baad me hoga */

/* and for the diff type of the selector we measure using the specificty */
p{
    color: blue;
}
.cred{
    color: red;
}
.cyellow{
    color: yellow;
}
.cpink{
    color:pink;
}

p{
    color: aqua;
}
/* inline > id > class > element > universal  */


/* in this we have become more specific by providing more specificity by the element and class selctor  */
p.pred{
    color:pink;
    background-color: black;
}

/* we tend to use the vh and vw as width and height for the dynaomic changes in the vewport 

viewport means that the device where we are seeing our webiste is called viewprt so jo bhi uska size hoga then it will adjust the size of the container*/
.container{

    /* it will only be center if it is a block element  */
    width: 80vw;
    /* height: 100vh; */
    border: 2px solid green;
    margin: auto;
    font-size: 20px;
    /* display: inline-block; */
    /* so inline cannot be able to center the div */ 
}
/* so the vh and vw will take the whole height and width of the screen  */

.container p{
    font-size: 1em;
}

/* em unit is th eunit ke jab inherrit karke esko etna fontsize mil rha tha then uska kitna guna */

/* so basically em just inheit the size from the parent and then it multiplies by he number */

/* em unit will make the guna of the parent size */
/* rem is the reoot unit means the root element ie the html element so if we we set the size of the root elemtn html then we can use the rem unit  */


/* max width and max height cna be used to set the particluar height and width ke esse to jyada nhi lega 

*/
/* to set the width and heoigth in inline use inline - block  */

.mycont{
    border: 3px solid blueviolet;
    box-sizing: border-box;
    width: 25vw;
    display: inline-block;
    padding: 10px;
    margin: 2px;
    /* display: none; */
    /* it will delete the space and remove the element also  */
    font-size: 55px;
    /* visibility: hidden; */
    /* it will retain the space but hides the element */

    display: flex;
    justify-content: center;
    
}
.mycont1{
    border: 3px solid rgb(26, 196, 179);
    box-sizing: border-box;
    width: 25vw;
    display: inline-block;
    padding: 10px;
    margin: 2px;
    font-size: 55px;
}

/* display none will remove the element as well as it remove the space aslo also 
visibility hidden will reserved the space of the element and hide the element from the screen  */



/* outline and shadow  */
.mycont2{
    border: 3px solid blueviolet;
    box-sizing: border-box;
    width: 25vw;
    /* display: inline-block; */
    padding: 10px;
    margin: 2px;
    box-shadow: 5px 5px 15px 5px green inset;
    /* take the syntax of the shadow fromt he internet only */
    text-shadow: 2px 2px 2px red;
}
.mycont3{
    border: 3px solid blueviolet;
    box-sizing: border-box;
    width: 25vw;
    display: inline-block;
    padding: 10px;
    margin: 2px;
    outline: 2px solid red;
    outline-offset: 5px; 
    border-radius: 5px;
    /* we change the outline offset position  */
    /* also we cannot change the outline radius  it can only be changed when we change the border radius as it follows the border only */
}

/* outline is not a part of the box modal but border is 
moreover outline is outside and border is inside */