/* *{
    padding: 0;
    margin: 0;
} */
body{
    background-color: grey;
}

.box{
    /* inline flex is used to put all the div in the same line  */
    display: inline-flex;
    border: 2px solid blue ;
    padding: 5px;
    font-size: 50px;
    /* visibility: hidden; */
}

.box{
    box-shadow:  20px 20px 50px 10px pink inset;
    text-shadow: 8px red;
}

/* outline is not a part of the box modal that why we can move it freely */
.textshadow{
    text-shadow: 5px 5px 10px red;
    outline: 3px solid red;
    outline-offset: 5px;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* bascially we always make the flexbox to the bigger container and make its items as the flex items and apply all the properties to the big container only so that it apply all those to the items  */

.liststyle li {
    display: inline-block;
  margin: 7px;
    margin-left: 7px;
  margin-left: 21px;

}

.list li{
    list-style: circle;
    list-style-type: "👻";
    list-style-position: inside;
    background-color: red;
    /* list-style: none; */
    /* by using this we can remove the marker  */
}

.list ul{
    background-color: rgb(107, 210, 107);
}

/* initially the marker is outside the li and in the ul but we can also change the position of the marker to be outside or inside  */


li:hover{
    background-color: aqua;
    cursor: pointer;
}












