/* *{
    padding: 0;
    margin: 0;
} */
body{
    background-color: grey;
}

.box{
    /* inline flex is used to put all the div in the same line  */
    display: inline-flex;
    border: 2px solid blue ;
    padding: 5px;
    font-size: 50px;
    /* visibility: hidden; */
}

.box{
    box-shadow:  20px 20px 50px 10px rgb(255, 58, 91) inset;
    text-shadow: 8px red;
}

/* outline is not a part of the box modal that why we can move it freely */
.textshadow{
    text-shadow: 5px 5px 10px red;
    outline: 3px solid red;
    outline-offset: 5px;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* bascially we always make the flexbox to the bigger container and make its items as the flex items and apply all the properties to the big container only so that it apply all those to the items  */

.liststyle li {
    display: inline-block;
  margin: 7px;
    margin-left: 7px;
  margin-left: 21px;

}

.list li{
    list-style: circle;
    list-style-type: "👻";
    list-style-position: inside;
    background-color: red;
    /* list-style: none; */
    /* by using this we can remove the marker  */
}

.list ul{
    background-color: rgb(107, 210, 107);
}

/* initially the marker is outside the li and in the ul but we can also change the position of the marker to be outside or inside  */


li:hover{
    background-color: aqua;
    cursor: pointer;
}

.over{
    width: 34px;
    border: 2px solid rebeccapurple;
    /* white-space:nowrap; */
    overflow:auto;
    /* height: 34px; */
    /* auto gives the scrool bar if we tackle the overflow probelm  */
    text-overflow: ellipsis;
}

/* clip also disable the prgramatically scrooling of the content  */
/* while the hidden aloows the programatically scrooling */

/* always try to use the overflow auto property as it will only add the scrool bar to the overflow happens otherwise it will not  */

@media only screen and (max-width : 455px){
    body{
        background-color: blue;

    }
}
/*          media type  */

/* media not|only screen and expresseion  */


@media only screen and (min-width: 768px) and (max-width: 1024px){
    body{
        background-color: aqua;
    }

    .boxes{
        flex-wrap: wrap;
    }
}

.boxes{
    display: flex;
    flex-direction: row;
}

.box{
    width: 200px;
    height: 200px;
    margin: 5px;
}


@media only screen and (orientation : portrait){
    body{

        background-color: purple;
    }
}

/* we can also change the orientation  */